* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  color: black;
}
#wrap {
  width: 100vw;
  height: 100vh;
  position: relative;
}
main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100%;
  background-color: #282828;
}
#logo{
  filter: brightness(0) invert(1);
  width: calc(230px * 0.75);
  height: calc(111px * 0.75);
  margin-top: 47px;
  margin-bottom: 60px;
}
.aside-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: #848484;
  margin-bottom: 40px;
  cursor: pointer;
}
.aside-btn-current {
  background-color: #dcdcdc;
}
.aside-btn-current p {
  color: black !important;
}
.aside-btn p {
  font-size: 2.5rem;
  color: white;
  font-weight: 600;
}
section {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 300px);
  height: 100%;
}
section nav {
  width: 100%;
  height: 2.5%;
}
.border {
  border-bottom: 2px rgba(230, 230, 230, 1) solid;
}
section header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 15%;
}
section header h2 {
  font-size: 6.4rem;
  font-weight: 400;
  margin-left: 58px;
}
.header-title {
  width: calc(100vw - 300px - 492px);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%; /*calc((100vw - 300px));*/
  height: 100%;
  background-color: #fafaf5;
  margin-left: 56px;
  margin-right: 56px;
  border-radius: 20px;
  border-color: #e6e6e6;
  border-width: 2px;
  border-style: solid;
}
.frame-upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  margin-top: 24px;
  gap: 12px;
}
.frame-upper h3 {
  font-size: 2rem;
  color: black;
  font-weight: 600;
  margin-left: 24px;
}
.frame-btn {
  width: calc(0.1 * (100vw - 300px));
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  border-width: 2px;
  border-color: #282525;
  border-style: solid;
}
.frame-btn select{
  border: none;
  background-color: transparent;
  width: 90%;
  height: 90%;
  font-size: 2rem;
  color: black;
  font-weight: 600;
}
.frame-btn select option{
  font-size: 2rem;
}
.frame-lower {
  width: 90%;
  height: calc(15vh - 30px);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border: 2px #e6e6e6 solid;
  border-radius: 8px;
  margin: 28px;
}
.frame-lower select {
  width: 100%;
  height: 90%;
  background-color: transparent;
  border-style: none;
  font-size: 2.0rem;
  color: black;
  font-weight: 600;
  margin: 5px;
}
.frame-lower select option{
  font-size: 2rem;
}
.frame-lower img {
  margin-right: 8.6px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
section article {
  width: 100%;
  height: 80%;
}
.scroll {
  height: 620px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px none;
  margin: 56px;
  scrollbar-width: thin;
}
.scroll::-webkit-scrollbar {
  width: 6px;
}
.scroll-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: 160px;
  background-color: #fafaf5;
  border-radius: 20px;
  border-color: #e6e6e6;
  border-width: 2px;
  border-style: solid;
  margin-bottom: 50px;
  margin-right: 56px;
}
.scroll-items img {
  height: 100%;
  width: fit-content;
  aspect-ratio: 1/1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.scroll-items-content {
  width: 45%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 12px;
  gap: 10px;
}
.scroll-items-content h4,.scroll-items-content h4 span{
  font-size: 2rem;
  color: black;
  font-weight: 600;
}
.scroll-items-content h4 input{
  display: inline;
  font-size: 2rem;
  color: black;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid black;
}

.scroll-items-update {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 12px;
}
.scroll-items-update h5 {
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
  text-align: right;
}
.scroll-items-update-modify {
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;
  margin-right: 12px;
}
.scroll-items-update-modify img{
  width: 32px;
  height: 32px;
  cursor: pointer;
}
@media screen and (max-width: 1080px) {
  section header h2 {
    font-size: 4.8rem;
  }
  .frame-btn h4 {
    font-size: 1.5rem;
  }
  .frame-lower {
    margin: 20px;
  }
  .scroll-items-content{
    gap: 8px;
  }
  .scroll-items-content h4 {
    font-size: 1.6rem;
  }
  .scroll-items-update h5 {
    font-size: 1.4rem;
  }
}
/* 정보 수정 다이얼로그 */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.dialog {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.dialog-header {
  width: 100%;
  height: 20%;
  border-bottom: 2px rgba(230, 230, 230, 1) solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dialog-header h2 {
  font-weight: 300;
  color: #000;
  font-size: 3rem;
  margin-left: 50px;
}
.dialog-section {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-box {
  width: 90%;
  height: 10%;
  background-color: rgba(250, 250, 245, 1);
  border-radius: 20px;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 2px;
  margin-top: 20px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: flex-start;
  gap: 12px;
}
.disabled {
  background-color: #c5c5b8;
}
.hidden {
  background-color: transparent;
  border-color: transparent;
}
.info-box p {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin-left: 12px;
}
.info-box input, .info-box select {
  width: 65%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.info-box select option {
  font-size: 2rem;
  font-weight: 500;
  color: #000;
}
.info-box-lower {
  width: 90%;
  height: 8%;
  margin-top: 45px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  gap: 72px;
}
.info-box-btn {
  width: 144px; /* 10% */
  height: 100%;
  background-color: white;
  border: solid 2px rgba(0, 0, 0, 6%);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.info-box-btn p {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
}
.modal-check {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.dialog-check {
  display: flex;
  flex-direction: column;
  width: 66.7%;
  height: 66.7%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.dialog-header img{
  width: 32px;
  height: 32px;
  margin-right: 50px;
}
/* 정보 조회 모달 */
.modal-check {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.dialog-check {
  display: flex;
  flex-direction: column;
  width: 66.7%;
  height: 66.7%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.dialog-header img{
  width: 32px;
  height: 32px;
  margin-right: 50px;
  cursor: pointer;
}
.dialog-scroll {
  height: 620px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px none;
  margin: 56px;
  scrollbar-width: thin;
}
.dialog-scroll::-webkit-scrollbar {
  width: 6px;
}
.modal-upload {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
#uploadForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 25px;
  gap: 12px;
}
#uploadForm div{
  flex-direction: row;
}
#uploadForm label{
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  min-width: 150px;
}
#uploadForm input[type="text"]{
  font-size: 2rem;
  font-weight: 500;
  background-color: transparent;
  border-width: 1px;
  width: calc(100vw * .66 * .66);
  height: calc(100vh * .66 * .10);
  padding-left: 10px;
}
#uploadForm input[type="file"]{
  font-size: 2rem;
  font-weight: 500;
  height: calc(100vh * .66 * .10);
}
#btnUpload{
  width: 25%;
  height: calc(100vh * .66 * .10);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  border-radius: 20px;
  border-style: solid;
  background-color: rgba(250, 250, 245, 1);
  border-color: rgba(230, 230, 230, 1);
  border-width: 2px;
}
#btnUpload p{
  font-size: 2rem;
  font-weight: 600;
}
#btnUpload img{
  width: 32px;
  height: 32px;
}



.modal-create {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.dialog-create {
  display: flex;
  flex-direction: column;
  width: 66.7%;
  height: 66.7%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
#createForm{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 50px;
  margin-top: 25px;
  gap: 12px;
}
#createForm div{
  flex-direction: row;
}
#createForm label{
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
  min-width: 150px;
}
#createForm input[type="text"]{
  font-size: 2rem;
  font-weight: 500;
  background-color: transparent;
  border-width: 1px;
  width: calc(100vw * .66 * .66);
  height: calc(100vh * .66 * .10);
  padding-left: 10px;
}
#createForm input[type="file"]{
  font-size: 2rem;
  font-weight: 500;
  height: calc(100vh * .66 * .10);
}
#btnCreate{
  width: 25%;
  height: calc(100vh * .66 * .10);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  border-radius: 20px;
  border-style: solid;
  background-color: rgba(250, 250, 245, 1);
  border-color: rgba(230, 230, 230, 1);
  border-width: 2px;
}
#btnCreate p{
  font-size: 2rem;
  font-weight: 600;
}
#btnCreate img{
  width: 32px;
  height: 32px;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
}

.progress-bar-container {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 20px auto;
}

.progress-bar {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 4px solid #3498db;
  border-top: 4px solid #fff;
  animation: spin 1s linear infinite;
}

.progress-text{
  display: none;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, 0%);
  color: white;
  font-size: 2.0rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.add-btn {
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 56px;
  gap: 12px;
  cursor: pointer;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #e6e6e6;
  background-color: #fafaf5;
}
.add-btn img {
    width: 32px;
    height: 32px;
}
.add-btn h5 {
  font-size: 1.6rem;
  color: black;
  font-weight: 600;
}